*{
    background-color: lightblue;
    color: darkblue;
    text-align: center;
}

#perfilFoto{
    border-radius: 60%;
    border:solid 5px;
    border-color: darkgoldenrod;
    width: 300px;
    height: 400px;
        
}

.titulos{
    font-style: italic;
    font-size: 40px;
    color: darkred;
    font-style: oblique;
}

#dimensionBiografia{
   
    font-size: 22px;
    text-align: center;
}

#dimensionVida{
    width: 500px;
    height: 800px;
    font-size: 20px;
    text-align: center;
}

.colorLi{
    font-size: 30px;
    color: black;
}

li{
    color: darkred;
    font-size: 30px;
    text-align: left;
}

.tamaño{
    width: 300px;
    height: 300px;
}